.system-description{
  height: 160px;
  text-align: center;
  padding: 0 140px;
}
.system-description p{
  font-size: 24px;
}

.entry{
  height: 200px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}
.entry:hover{
  -moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333;
}