<!DOCTYPE html>
<html>

<head>
  <%include layui-head.ejs%>
</head>

<body>

  <div class="layui-layout layui-layout-admin">
    <!-- 顶部栏 -->
    <%include layui-header.ejs%>
    <!-- 顶部栏 -->
    <!-- 中间内容区 -->
    <div style="padding: 15px; overflow-y: auto;">
      <div class="layui-container">
        <div class="layui-row">
          <div class="layui-col-md12">
            <div class="system-description">
              <p>高效率的模块建站工具、全自由度的网页前端设计工具、可视化的小程序UI设计工具，三款专业工具满足您不同阶段的设计需求</p>
            </div>
          </div>
        </div>
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
              <input type="text" name="title" id="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">问题描述</label>
            <div class="layui-input-block">
              <textarea id="desc" name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn J-submit" lay-submit lay-filter="formSubmit">立即提交</button>
            </div>
          </div>
        </form>
        <div class="layui-row">
          <div class="layui-col-md12">
            <!-- <br>----
            <% assistance.forEach(function(item, index){%>
              <p>
                <%=item.title%>
              </p>
              <%})%> -->
            <ul class="layui-timeline">
              <% assistance.forEach(function(item, index){%>
              <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                  <h3 class="layui-timeline-title"><%=item.title%></h3>
                  <p>
                    layui 2.0 的一切准备工作似乎都已到位。发布之弦，一触即发。
                    <br>不枉近百个日日夜夜与之为伴。因小而大，因弱而强。
                    <br>无论它能走多远，抑或如何支撑？至少我曾倾注全心，无怨无悔 <i class="layui-icon"></i>
                  </p>
                </div>
              </li>
              <%})%>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 中间内容区 -->

    <script>
      layui.use(['layedit', 'jquery', 'layer', 'form'], function () {
        var layedit = layui.layedit,
          layer = layui.layer,
          form = layui.form,
          $ = layui.jquery;
        var editnum = layedit.build('desc', {
          uploadImage: {
            url: '/uploadImg'
          }
        }); //建立编辑器
        form.on('submit(formSubmit)', function(data){
          console.log(JSON.stringify(data.field))
          // return false;
          var title = data.field.title;
          var content = layedit.getContent(editnum);
          $.post("/admin/help", { title: title, desc: content }, function (data) {
            layer.msg(data.msg);
          })
          return false;
        })
      });
    </script>
</body>

</html>