<!DOCTYPE html>
<html>

<head>
  <%include layui-head.ejs%>
</head>

<body class="layui-layout-body">

  <div class="layui-layout layui-layout-admin">
    <!-- 顶部栏 -->
    <%include layui-header.ejs%>
    <!-- 顶部栏 -->
    <!-- 中间内容区 -->
    <div style="padding: 15px;">
      <div class="layui-container">
        <div class="layui-row">
          <div class="layui-col-md">
            <%-body%>
          </div>
        </div>
      </div>
    </div>
    <!-- 中间内容区 -->

    <script src="javascripts/client.js"></script>
</body>

</html>