<div class="layui-header">
  <div class="layui-logo"><a href="/platform">首页</a></div>
  <!-- 头部区域（可配合layui已有的水平导航） -->
  <ul class="layui-nav layui-layout-left" lay-filter="test">
    <li class="layui-nav-item">
      <a href="/platform/assistance-list">管理后台</a>
    </li>
    <li class="layui-nav-item">
      <a href="/platform">教学客户端</a>
    </li>
    <li class="layui-nav-item">
      <a href="/teacher">老师端APP</a>
    </li>
    <li class="layui-nav-item">
      <a href="javascript:;">其它系统</a>
      <dl class="layui-nav-child">
        <dd>
          <a href="/others/b">邮件管理</a>
        </dd>
        <dd>
          <a href="/others/a">消息管理</a>
        </dd>
        <dd>
          <a href="/others/c">授权管理</a>
        </dd>
      </dl>
    </li>
  </ul>
  <ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item J-new-assistance"><a href="/platform/new-assistance"><i class="layui-icon" style="font-size: 30px;">&#xe654;</i></a></li>
    <li class="layui-nav-item">
      <a href="javascript:;">
        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">月盾
      </a>
      <dl class="layui-nav-child">
        <dd>
          <a href="">基本资料</a>
        </dd>
        <dd>
          <a href="">安全设置</a>
        </dd>
      </dl>
    </li>
  </ul>
</div>